/* CSS Document */

/* FONTS */
@font-face {
	font-family: 'eenfont';
	src: url('../fonts/eenfont.woff2') format('woff2'),
			 url('../fonts/eenfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}


/* ALGEMENE STYLING */
*, *::after, *::before {
  box-sizing:border-box;  
  padding:0;
  margin:0;
}

body {
  font-family:eenfont, sans-serif;
  color:#111;
  background-color:#eee;
}

/* BRAND STYLING */

header, main, form{
	--color1: 
	/* #181818 */
	coral
	;
	--color2: 
	/* #282828 */
	darkseagreen
	;
	--color3: 
	/* #535353 */
	cornflowerblue
	;
	--color4: #1db954;
	--color5: white;
	--color6: tomato;
	
	font-family: 'roboto', sans-serif;
}
header{
	background-color: var(--color1);
	padding: 1.3em
}

header button{
	height: 2.1em; width: 2.4em;
	clip-path: path("M15.3899 27.7963C15.5645 27.9277 15.779 27.9993 16 28C16.221 27.9993 16.4355 27.9277 16.6101 27.7963C22.171 23.6055 26.0016 19.9968 28.682 16.4365C32.1026 11.8868 32.8827 7.68631 31.0024 3.95147C29.6622 1.28372 25.8016 -0.879583 21.3109 0.371834C19.165 0.973036 17.2927 2.26233 16 4.02907C14.7073 2.26233 12.835 0.973036 10.6891 0.371834C6.18842 -0.898984 2.3378 1.28372 0.997586 3.95147C-0.882716 7.68631 -0.102591 11.8868 3.31796 16.4365C5.99839 19.9968 9.82901 23.6055 15.3899 27.7963Z");
	margin-left: 4em;
	border:none;
	
}

li button, li input{
	height: 2em; width: 2em;
	margin: auto;
    margin-right: 0;
	font-size: 15.6px;
}

main{
	background-color: var(--color2);
}
main header {
	background-color:var(--color2);
	display:flex;
	padding-left: calc(50% - 3.2em);
}

h1{
	font-size: 18px;
	text-align: center;
	font-weight: 700;
	color: var(--color5);
}

h2{
	font-size: 17px;
	margin: 0;
	font-weight: 700;
	color: var(--color5);
}

h3{
	font-size: 15px;
	margin: 0;
	font-weight: 400;
	color: var(--color5);
}

p{
	font-size: 12px;
	margin: 0;
	font-weight: 300;
	color: var(--color5);
}


ul {
	background-color: var(--color2);
	list-style-type: none;
}

li{
	background-color: var(--color3);
	display:flex;
	flex-wrap: wrap;
	/* justify-content: space-around;
	vertical-align: middle; */
}

ul li ul{
	order: -1;
	width: 11.5em;
}

ul li ul li{
	justify-content: left;
	padding: 0.2em 0em;
}
ul li ul li:first-of-type{
	padding-top: 0em;
}

ul li ul li:last-of-type{
	padding-bottom: 0em;
}

main > ul > li{
	padding: 0.7em;
}

main > ul{
	display:grid;
	grid-template: 1fr;
	grid-gap: 1em;
	padding: 1em;
	padding-top: 0;
	margin-bottom: 4.2em;
}

li > div{
	width: 3.2em;
    height: 3.2em;
    background-color:var(--color6);
    margin: auto;
    margin-left: 0;
	order: -2;
}

.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
  }

.list label {
	position:relative;
	width:2em; height:2em;
	overflow:hidden;
	padding-left:2.1em;
	margin: auto;
	background-color:white;
	z-index: 20;
	clip-path: path("M15.3899 27.7963C15.5645 27.9277 15.779 27.9993 16 28C16.221 27.9993 16.4355 27.9277 16.6101 27.7963C22.171 23.6055 26.0016 19.9968 28.682 16.4365C32.1026 11.8868 32.8827 7.68631 31.0024 3.95147C29.6622 1.28372 25.8016 -0.879583 21.3109 0.371834C19.165 0.973036 17.2927 2.26233 16 4.02907C14.7073 2.26233 12.835 0.973036 10.6891 0.371834C6.18842 -0.898984 2.3378 1.28372 0.997586 3.95147C-0.882716 7.68631 -0.102591 11.8868 3.31796 16.4365C5.99839 19.9968 9.82901 23.6055 15.3899 27.7963Z");
}

ul li button{
	clip-path: path("M1.81636 29C1.33463 29 0.872635 28.7688 0.532001 28.3571C0.191366 27.9455 9.6839e-08 27.3873 9.6839e-08 26.8052V2.19554C-0.000101123 1.82093 0.0791491 1.45252 0.230206 1.12539C0.381263 0.798255 0.599098 0.523284 0.862975 0.326654C1.12685 0.130025 1.42799 0.0182802 1.73771 0.00205895C2.04744 -0.0141623 2.35545 0.0656794 2.63241 0.233983L22.9985 12.5441C23.2995 12.7267 23.5526 13.0068 23.7295 13.3532C23.9063 13.6996 24 14.0986 24 14.5057C24 14.9127 23.9063 15.3117 23.7295 15.6581C23.5526 16.0045 23.2995 16.2846 22.9985 16.4672L2.63241 28.7667C2.37929 28.9207 2.09975 29.0006 1.81636 29Z");
}

form {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 1em;
	justify-content: center;
	padding: 1em;
    background-color:var(--color6);
	position: fixed;
    z-index: 100;
    bottom: 0;
    width: 100%;
}

form button{
	width: 100%;
    height: 2.5em;
    border: none;
    border-radius: 2em;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 700;
    vertical-align: middle;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

form button:first-of-type{
	justify-self: end;
}

form button:nth-of-type(2){
	justify-self: start;
}

fieldset{
	grid-column-start: 1;
    grid-column-end: 3;
    border: none;
    padding: 0.5em 0em;
    margin: 0.5em 0em;
}

fieldset:first-of-type{
	margin-top: 1em;
}

form fieldset label{
	font-weight: 300;
    background-color: white;
    padding: 0.5em 1.8em;
    font-size: 15px;
}

legend{
	margin: 0.5em 0em;
	font-weight: 700;
}

form label{
	font-weight: 300;

}

input[type=search]{
	width: 100%;
    padding: 0.6em 0em 0.6em 1.5em;
    border-radius: 2em;
    border: none;
}

input[type=range]{
	width: 78%;
}

/* fieldset input:focus + label,  */
fieldset label:hover {
	box-shadow: 0 0 0 .25em blue;
}