/* CSS Document */

/* FONTS */
@font-face {
	font-family: 'eenfont';
	src: url('../fonts/eenfont.woff2') format('woff2'),
			 url('../fonts/eenfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

/* ALGEMENE STYLING */
*, *::after, *::before {
  box-sizing:border-box;  
  padding:0;
  margin:0;
}

body {
	--color1: #181818;
	--color2: #282828;
	--color3: #535353;
	--color4: #1db954;
	--color5: white;
	--color6: tomato;
	--text: white;

	font-family:eenfont, sans-serif;
	color:var(--color5);
	background-color:var(--color2);
}

/* BRAND STYLING */



header, main, form{
	
	
	font-family: 'roboto', sans-serif;
}

header{
	background-color: var(--color1);
	padding: 1.3em
}

header button{
	height: 2.1em; width: 2.4em;
	margin-left: 4em;
	border:none;
	background-color: var(--color2);
}

header button svg, li button svg{
	fill: var(--color5);
}
header button svg:hover svg, li button svg:hover svg{
	fill: rgb(221, 221, 221) ;
}

header button.alleenhartjes svg{
	fill: var(--color4);
}

li button, li input{
	height: 2em; width: 2.1em;
	margin: auto;
    margin-right: 0;
	font-size: 15.6px;
}

main{
	background-color: var(--color2);
}
main header {
	background-color:var(--color2);
	display:flex;
	padding-left: calc(50% - 3.2em);
}

h1{
	font-size: 18px;
	text-align: center;
	font-weight: 700;
	color: var(--text);
}

h2{
	font-size: 17px;
	margin: 0;
	font-weight: 700;
	color: var(--text);
}

h3{
	font-size: 15px;
	margin: 0;
	font-weight: 400;
	color: var(--text);
}

p{
	font-size: 12px;
	margin: 0;
	font-weight: 300;
	color: var(--text);
}


ul {
	background-color: var(--color2);
	list-style-type: none;
}

li{
	background-color: var(--color3);
	display:flex;
	flex-wrap: wrap;
}

img{
	width:100%;
}

button{
	background-color: var(--color5);
}

ul li ul{
	order: -1;
	width: 11.5em;
}

ul li ul li{
	justify-content: left;
	padding: 0.2em 0em;
}
ul li ul li:first-of-type{
	padding-top: 0em;
}

ul li ul li:last-of-type{
	padding-bottom: 0em;
}

main > ul > li{
	padding: 0.7em;
	transition: .25s;
}

main > ul{
	display:grid;
	grid-template: 1fr;
	grid-gap: 1em;
	padding: 1em;
	padding-top: 0;
	margin-bottom: 5.2em;
}

main > ul.alleenFavorieten > li{
	display:none;
}

main > ul.alleenFavorieten > li.like{
	display:flex;
}

li > div{
	width: 3.2em;
    height: 3.2em;
    margin: auto;
    margin-left: 0;
	order: -2;
}

.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

ul li button{
	background-color: var(--color3);
	border:none;
}

header button.alleenhartjes svg{
	fill: var(--color4);
}

li.like button:first-of-type svg {
	fill: var(--color4);
	transition: .25s ease-out;
} 

ul li button.stop{
	display:none;
}

ul li.playing button.stop{
	display:inline-block;
}

ul li.playing button.play{
	display:none;
}

/* --- FORM --- */

form {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 1em;
	justify-content: center;
	padding: 1em;
    background-color:var(--color4);
	position: fixed;
    z-index: 100;
    bottom: 0;
    width: 100%;
}

form h1{
	display: none;
}

form > label, form button{
	width: 100%;
    height: 2.5em;
    border: none;
    border-radius: 2em;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 700;
    vertical-align: middle;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
	background-color: var(--color5);
	margin-bottom:.7em;
}

form button.actief{
	box-shadow: inset 0 0 0px 3px var(--color6);
}

form > label:first-of-type{
	justify-self: end;
}

form > label:nth-of-type(2){
	justify-self: start;
}

fieldset{
	grid-column-start: 1;
    grid-column-end: 3;
    border: none;
    padding: 0.5em 0em;
    margin: 0.5em 0em;
	display: flex;
	transition: 1s;
}

.onzichtbaar{
	display:none;
	transition: 1s;
}

fieldset:first-of-type{
	margin-top: 1em;
}

fieldset:first-of-type div{
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;
	width: 92vw;
}

form fieldset label{
	font-weight: 300;
    background-color: var(--color5);
    padding: 0.6em 1.8em;
    font-size: 15px;
	display: inline-block;
	flex: 0 0 auto;
	margin-right: 0.7em;
	border-radius: 2em;
	color: black;
}

legend{
	margin: 0.5em 0em;
	font-weight: 700;
}

form label{
	font-weight: 300;

}

fieldset:first-of-type input:focus + label, 
fieldset:first-of-type label:hover,
fieldset:first-of-type input:checked + label {
	box-shadow: inset 0 0 0px 3px var(--color6);
}

ul.rock-muziek > li:not(.rock) {
	display:none;
}
  
ul.pop-muziek > li:not(.pop) {
	display:none;
}
  
ul.rb-muziek > li:not(.rb) {
	display:none;
}

ul.edm-muziek > li:not(.edm) {
	display:none;
}


input[type=search]{
	width: 100%;
    padding: 0.6em 0em 0.6em 1.5em;
    border-radius: 2em;
    border: none;
}

fieldset:nth-last-of-type(2) input:focus-visible{
	outline: 0px
}

fieldset:nth-last-of-type(2) input:focus{
	box-shadow: 0 0 0 2px #000;
}

input[type=range]{
	width: 78%;
}

fieldset div{
	display:flex;
}

fieldset button{
	font-weight: 300;
	padding: 0.6em 3.8em;
	font-size: 15px;
	margin-right: 0.7em;
	width: 30%;
}

.sort.asc, .sort.desc {
	font-weight:bold;
  }
  
.sort.asc::after {
	content: "(az↓)";
	padding-left: .25em;
	font-weight:normal;
}
  
.sort.desc::after {
	content: "(za↓)";
	padding-left: .25em;
	font-weight:normal;
}

@media screen and (min-width: 786px){
	main{
		display:grid;
		grid-template-columns: 1fr 1fr;
		padding: 2em
	}

	main header{
		grid-column-start: 1;
    	grid-column-end: 3;
	}

	main ul li{
		margin-bottom: auto;
	}

	form{
		display:inherit;
		grid-template-columns: 1fr;
		position:relative;
		height:fit-content;
	}

	form > label {
		display: none
	}

	.onzichtbaar {
		display:inherit;
	}

	form h1{
		width: max-content;
		margin:auto;
	}

	form > button{
		display:none;
	}

	fieldset {
		margin: auto;
		margin-top: 2em;
		width: 100%;
	}

	fieldset:first-of-type div {
		width:40vw;
	}

}

@media (prefers-color-scheme:light){
	header, main, form{
		--color1: 
		#C4C4C4
		;
		--color2: 
		#fdfdfd
		;
		--color3: 
		#e6e6e6
		;
		--color4: #1db954;
		--color5: white;
		--color6: tomato;
		--text: black;
		font-family: 'roboto', sans-serif;
	}
}